<view title="'Fruits'">

    <div class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input id="searchKey" type="search" placeholder="Search" ng-model="searchKey" ng-change="search($event)" autocorrect="off" >
            <button class="button button-clear" ng-click="clearSearch()">X</button>
        </label>
    </div>

    <content has-header="true" has-subheader="true">
        <list>
            <item ng-repeat="fruit in fruits" type="item-text-wrap" href="#/fruits/{{fruit.id}}">
                <h3>{{fruit.name}}</h3>
                <p><em>Color: </em>{{fruit.color}}</p>
            </item>
            </item>
        </list>
    </content>

</view>

<div class="tabs">
  <a class="tab-item">
    Home
  </a>
  <a class="tab-item">
    Favorites
  </a>
  <a class="tab-item">
    Settings
  </a>
</div>